.fun{
    border: 1px solid lightgray;
    border-radius:10px;
    width: 260px;
    margin: 10px;
}
.fun h1{
    color: lightgray;
}
.funFlex{
    display:flex; 
    justify-content: space-evenly;
    align-items: center; 
}
.fun{
    position: relative;
    transition: all 0.2s ease-in-out;
}
.fun:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 17px rgba(0,0,0,.12);
    border-radius:10px;
}
