.services{
    position: relative;
    transition: all 0.2s ease-in-out;
}
.services:hover{
    transform:translateY(-5px);
    box-shadow: 0 12px 17px rgba(241, 179, 7, 0.884);
    border-radius:10px;
}