
.heroImg{
    height: 300px;
    border: 20px solid lightgray;
    border-radius:200px;
        background-image: linear-gradient(-225deg,#2cd8d5,#6b8dd6 50%,rgba(130,26,214,.9058823529411765) 0);
    position: relative;
    transition: all 3000ms ease-in-out;
}
img:hover{
    transform: perspective(1000px) rotateX(90deg) rotateY(9deg) scale3d(1, 1, 1);
}