 .footer-area{
     background-color: #3FAE8E;
 } 

 .footer-area ul li{
     color: white;
 }
.dGrid{
    display:flex;
    align-items: center;
    flex-direction: column; 
}
.social-footer{
    display:flex;
    justify-content:space-evenly;
}

 /* .footer-area{
    background-image: url(../../../images/contact.jpg);
    background-size: cover;
}  */
.footer-area .logo{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: gold;
    position: relative;
    transition: all 0.25s ease-in;
}

.footer-area .logo:hover{
    color: red;
    font-size: 60px;
}

.footer-area li{
    font-weight: bold;
}
.footer-area li:hover{
    color:red;
}
.social-media .icon{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}